<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login | CRM Innovo</title>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="description" content="">
        <meta name="keywords" content="crm">
        <meta name="author" content="Huban Creative">

        <!-- Base Css Files -->
        <link href="/static/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
        <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/static/libs/fontello/css/fontello.css" rel="stylesheet" />
        <link href="/static/libs/animate-css/animate.min.css" rel="stylesheet" />
        <link href="/static/libs/nifty-modal/css/component.css" rel="stylesheet" />
        <link href="/static/libs/magnific-popup/magnific-popup.css" rel="stylesheet" /> 
        <link href="/static/libs/ios7-switch/ios7-switch.css" rel="stylesheet" /> 
        <link href="/static/libs/pace/pace.css" rel="stylesheet" />
        <link href="/static/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
        <link href="/static/libs/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
        <link href="/static/libs/jquery-icheck/skins/all.css" rel="stylesheet" />
        <!-- Code Highlighter for Demo -->
        <link href="/static/libs/prettify/github.css" rel="stylesheet" />
        
                <!-- Extra CSS Libraries Start -->
                <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
                <!-- Extra CSS Libraries End -->
        <link href="/static/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon-152x152.png" />
    	<link rel="stylesheet" href="/static/css/custom-innovo.css">
    </head>
    <body class="fixed-left login-page">
        <!-- Modal Start -->
        	<!-- Modal Task Progress -->	
	<div class="md-modal md-3d-flip-vertical" id="task-progress">
		<div class="md-content">
			<h3><strong>Task Progress</strong> Information</h3>
			<div>
				<p>CLEANING BUGS</p>
				<div class="progress progress-xs for-modal">
				  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
					<span class="sr-only">80&#37; Complete</span>
				  </div>
				</div>
				<p>POSTING SOME STUFF</p>
				<div class="progress progress-xs for-modal">
				  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
					<span class="sr-only">65&#37; Complete</span>
				  </div>
				</div>
				<p>BACKUP DATA FROM SERVER</p>
				<div class="progress progress-xs for-modal">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
					<span class="sr-only">95&#37; Complete</span>
				  </div>
				</div>
				<p>RE-DESIGNING WEB APPLICATION</p>
				<div class="progress progress-xs for-modal">
				  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					<span class="sr-only">100&#37; Complete</span>
				  </div>
				</div>
				<p class="text-center">
				<button class="btn btn-danger btn-sm md-close">Close</button>
				</p>
			</div>
		</div>
	</div>
			
	<!-- Begin page -->
	<div class="container">
		<div class="full-content-center">
			<p></p>
			<div class="login-wrap animated flipInX">
				<div class="login-block">
					<img src="/static/img/logo.jpg" class="img-circle not-logged-avatar">
					{% if mensaje_error %}
					<div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{mensaje_error}}. <br><a href="#" class="alert-link"> Favor verifica tus datos</a>.
                    </div>
					{% endif %}
					<form method="post" action="/">
						{% csrf_token %}
						<div class="form-group login-input">
						<i class="fa fa-user overlay"></i>
						<input type="text" name="usuario" class="form-control text-input" placeholder="Usuario">
						</div>
						<div class="form-group login-input">
						<i class="fa fa-key overlay"></i>
						<input type="password" name="contrasenia" class="form-control text-input" placeholder="Contraseña">
						</div>
						
						<div class="row">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-success btn-block">Iniciar Sesión</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
		</div>
	</div>
	<!-- the overlay modal element -->
	<div class="md-overlay"></div>
	<!-- End of eoverlay modal -->
	<script>
		var resizefunc = [];
	</script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/static/libs/jquery/jquery-1.11.1.min.js"></script>
	<script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="/static/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
	<script src="/static/libs/jquery-detectmobile/detect.js"></script>
	<script src="/static/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
	<script src="/static/libs/ios7-switch/ios7.switch.js"></script>
	<script src="/static/libs/fastclick/fastclick.js"></script>
	<script src="/static/libs/jquery-blockui/jquery.blockUI.js"></script>
	<script src="/static/libs/bootstrap-bootbox/bootbox.min.js"></script>
	<script src="/static/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script src="/static/libs/jquery-sparkline/jquery-sparkline.js"></script>
	<script src="/static/libs/nifty-modal/js/classie.js"></script>
	<script src="/static/libs/nifty-modal/js/modalEffects.js"></script>
	<script src="/static/libs/sortable/sortable.min.js"></script>
	<script src="/static/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
	<script src="/static/libs/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="/static/libs/bootstrap-select2/select2.min.js"></script>
	<script src="/static/libs/magnific-popup/jquery.magnific-popup.min.js"></script> 
	<script src="/static/libs/pace/pace.min.js"></script>
	<script src="/static/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="/static/libs/jquery-icheck/icheck.min.js"></script>

	<!-- Demo Specific JS Libraries -->
	<script src="/static/libs/prettify/prettify.js"></script>

	<script src="/static/js/init.js"></script>
	</body>
</html>