<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>404 Not Found | Coco - Responsive Bootstrap Admin Template</title>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="description" content="">
        <meta name="keywords" content="coco bootstrap template, coco admin, bootstrap,admin template, bootstrap admin,">
        <meta name="author" content="Huban Creative">

        <!-- Base Css Files -->
        <link href="/static/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
        <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/static/libs/fontello/css/fontello.css" rel="stylesheet" />
        <link href="/static/libs/animate-css/animate.min.css" rel="stylesheet" />
        <link href="/static/libs/nifty-modal/css/component.css" rel="stylesheet" />
        <link href="/static/libs/magnific-popup/magnific-popup.css" rel="stylesheet" /> 
        <link href="/static/libs/ios7-switch/ios7-switch.css" rel="stylesheet" /> 
        <link href="/static/libs/pace/pace.css" rel="stylesheet" />
        <link href="/static/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
        <link href="/static/libs/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
        <link href="/static/libs/jquery-icheck/skins/all.css" rel="stylesheet" />
        <!-- Code Highlighter for Demo -->
        <link href="/static/libs/prettify/github.css" rel="stylesheet" />
        
                <!-- Extra CSS Libraries Start -->
                <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
                <!-- Extra CSS Libraries End -->
        <link href="/static/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon-152x152.png" />
    </head>
    <body class="fixed-left full-content">
        <!-- Modal Start -->

    
    <!-- Begin page -->
    <div class="container">
        <div class="full-content-center animated flipInX">
            <h1>404</h1>
            <h2>El contenido solicitado no existe!!!</h2><br>
            <p class="text-lightblue-2">Favor revisa tus datos</p>
            <br>
            <a class="btn btn-primary btn-sm" href="/crm/"><i class="fa fa-angle-left"></i> Volver al inicio</a>
        </div>
    </div>
    <!-- End of page -->
        <!-- the overlay modal element -->
    <div class="md-overlay"></div>
    <!-- End of eoverlay modal -->
    <script>
        var resizefunc = [];
    </script>
    </body>
</html>