<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Error en el servidor</title>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="description" content="">
        <meta name="keywords" content="coco bootstrap template, coco admin, bootstrap,admin template, bootstrap admin,">
        <meta name="author" content="Huban Creative">

        <!-- Base Css Files -->
        <link href="/static/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
        <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/static/libs/fontello/css/fontello.css" rel="stylesheet" />
        <link href="/static/libs/animate-css/animate.min.css" rel="stylesheet" />
        <link href="/static/libs/nifty-modal/css/component.css" rel="stylesheet" />
        <link href="/static/libs/magnific-popup/magnific-popup.css" rel="stylesheet" /> 
        <link href="/static/libs/ios7-switch/ios7-switch.css" rel="stylesheet" /> 
        <link href="/static/libs/pace/pace.css" rel="stylesheet" />
        <link href="/static/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
        <link href="/static/libs/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
        <link href="/static/libs/jquery-icheck/skins/all.css" rel="stylesheet" />
        <!-- Code Highlighter for Demo -->
        <link href="/static/libs/prettify/github.css" rel="stylesheet" />
        
                <!-- Extra CSS Libraries Start -->
                <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
                <!-- Extra CSS Libraries End -->
        <link href="/static/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>
    <body class="fixed-left full-content internal-error">
        <!-- Modal Start -->
	
	<!-- Begin page -->
	<div class="container">
		<div class="full-content-center animated flipInX">
			<h1>500</h1>
			<h2>Lo sentimos, no podemos mostrar la página correctamente</h2><br>
			<a class="btn btn-primary btn-sm backbtn" href="/crm/"><i class="fa fa-angle-left"></i> Volver al inicoo</a>
		</div>
	</div>
	<!-- End of page -->
		<!-- the overlay modal element -->
	<div class="md-overlay"></div>
	<!-- End of eoverlay modal -->
	<script>
		var resizefunc = [];
	</script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

	</body>
</html>